* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'IBM Plex';
  src: url('./public/font/IBMPlexMono-Regular.ttf') format('truetype');
}

:root {
  --white: rgb(255, 240, 240);
  --purple: rgb(127, 0, 255);
}

main {
  all: none;
  margin: 0;
}

body {
  font-family: 'IBM Plex', monospace, sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  background-color: var(--purple);
  margin: 0;
}

header {
  margin: 0;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: black;

}

form {
  order: 1;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 8px;
  background-color: var(--purple);
}

label {
  padding: 0;
}

.home {
  padding: 8px;
  order: 2;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  flex-wrap: wrap;
}

.logo-link {
  display: inline-block;
  margin: 0px;
  padding: 2px;
  height: 22px;
}

.a-logo {
  height: 20px;
  transform-origin: center right;
}

.a-logo-hidden {
  position: relative;
  margin: 0 -143px 0 0;
  left: -143px;
  height: 20px;
  transform-origin: center left;
  transform: scale(0%, 100%);
}

.logo-link:hover > .a-logo {
  transform: scale(0%, 100%);
}

.logo-link:hover > .a-logo-hidden {
  transform: scale(100%, 100%);
}

.logo-transition {
  transition: transform 0.5s ease-in-out;
}
.s-logo {
  height: 20px;
  margin-left: 5.5px;
}

.dot {
  position: relative;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: var(--white);
  transition: translate 0.5s 0.1s, opacity 1s;
}

.logo-link:hover > .two {
  translate: -5px;
}
.logo-link:hover > .three {
  translate: -7.5px;
}
.logo-link:hover > .four {
  translate: -10px;
}

.one {
  top: -24px;
  left: 211px;
}
.two {
  top: -27px;
  left: 206px;
}
.three {
  top: -30px;
  left: 198.5px;
}

.four {
  top: -33px;
  left: 188.5px;
}

#input {
  all: unset;
  box-sizing: border-box;
  padding: 4px 8px;
  width: 241px;
  height: 24px;
  background-color: var(--white);
  font-size: 12px;
}

#input::placeholder {
  background-color: var(--white);
}

#submit {
  all: unset;
  height: 24px;
  background-color: black;
  color: var(--white);
  padding: 0 10px 0 12px;
  font-size: 12px;
  transition: background-color 0.1s;
}

#submit:active {
  background-color: var(--white);
  color: black;
}

.info {
  all: unset;
  margin: 0;
  padding: 0 7px 0 9px;
  height: 24px;
  text-align: center;
  background-color: var(--purple);
  color: var(--white);
  transition: background-color 0.1s;
}

.info:active {
  background-color: black;
}
.info-desc-wrapper {
  display: flex;
  justify-content: flex-end;
}

.info-desc {
  position: absolute;
  width: 41.75vw;
  max-width: 300px;
  padding: 16px;
  background-color: black;
  color: var(--white);
  text-align: right;
  transform-origin: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info-desc-transition {
  transition: transform 0.05s ease-out, opacity 0.05s 0.05s ease-out;
}

.hidden {
  transform: scale(1, 0);
  opacity: 0;
}

.desc-divider {
  margin: 4px 0;
  height: 1px;
  background-color: var(--purple);
  width: 125px;
  transition: width 1.5s;
}

.info-desc:hover > .desc-divider {
  width: 100%;
}

#p5_loading {
  visibility: hidden;
}

@media (max-width: 633px) {
  form {
    order: 2;
  }
  .home {
    order: 1;
  }
}
